*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  position: fixed;
  width: 100vw;
  background-color: $white;
  z-index: 90;

  .logo img {
    width: 100%;
    height: 100%;
    transform: translateY(2px);
  }

  #toggle-menu {
    display: none;
  }

  .hamburger-menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 2rem;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(50%);
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 24px;
    height: 2px;
    background: #000;
    transition: transform 0.3s ease;
  }

  &__navlinks {
    list-style-type: none;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10%;
    left: 0;
    background-color: $white;
    text-align: center;
    border-radius: 4px;
    padding: 3rem 0 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
    z-index: 91;
  }

  .overlay-mobile {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, $grayish-blue, $white);
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0.4;
  }

  #toggle-menu:checked ~ &__navlinks {
    display: block;
    z-index: 98;
  }

  #toggle-menu:checked ~ .hamburger-menu .bar1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #toggle-menu:checked ~ .hamburger-menu .bar3 {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  #toggle-menu:checked ~ .hamburger-menu .bar2 {
    opacity: 0;
  }

  #toggle-menu:checked ~ .overlay-mobile {
    display: block;
  }

  &__navitem {
    margin-bottom: 3rem;

    :hover {
      border-bottom: 3px solid $lime-green;
    }
  }

  &__navitem:last-child {
    margin-right: 0;
  }

  &__navlink {
    color: $dark-blue;
  }

  &__cta {
    display: none;
    background: linear-gradient(90deg, $lime-green, $bright-cyan);
    color: $white;
    padding: 15px 25px;
    border-radius: 30px;
  }

  @media (min-width: 535px) {
    & {
      justify-content: space-around;
    }

    .hamburger-menu {
      display: none;
    }

    &__navlinks {
      display: flex;
      flex-direction: row;
      position: initial;
      background-color: $white;
      width: initial;
      justify-content: center;
      padding: 0;
      border-radius: 4px;
    }

    &__navitem {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }

  @media (min-width: 709px) {
    & {
      padding: 0.5rem 2rem;
    }

    &__cta {
      display: block;
    }
  }
}

/* Navbar ends */

/* Hero */
.hero {
  background-color: $very-light-gray;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  &__illustrations {
    width: 100%;
    position: relative;
    overflow: hidden;

    .bg-desktop {
      display: none;
      z-index: 1;
      width: 100%;
    }

    .bg-mobile {
      display: block;
      width: 100%;
      z-index: 1;
    }

    .phone-mockups {
      width: 100%;
      position: absolute;
      top: -120px;
      right: -10px;
      z-index: 2;
    }
  }
  &__heading {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
  }

  &__title {
    padding: 10px;
    font-weight: 400;
    font-size: 3.5rem;
    margin: 0 2rem 1.5rem;
    color: $dark-blue;
  }

  &__text {
    margin: 1rem 2rem 4.5rem;
    color: $grayish-blue;
    max-width: 500px;
  }

  &__cta {
    background: linear-gradient(90deg, $lime-green, $bright-cyan);
    color: $white;
    padding: 15px 35px;
    border-radius: 30px;
    margin: 0 auto 7rem;
  }

  @media (min-width: 609px) {
    & {
      flex-direction: row;
      overflow: hidden;
      padding-top: 8rem;
    }

    &__heading {
      width: 55%;
      justify-content: center;
      align-content: center;
    }
    &__title {
      padding-bottom: 0;
      margin-bottom: 0.5rem;
    }
    &__text {
      margin: 0.5rem 2rem 1.5rem;
    }
    &__cta {
      margin-bottom: 1rem;
    }

    &__illustrations {
      width: 45%;

      .bg-desktop {
        display: block;
      }

      .bg-mobile {
        display: none;
      }

      .phone-mockups {
        width: 70%;
        top: -110px;
        right: -90px;
      }
    }
  }

  @media (min-width: 1140px) {
    &__title {
      font-size: calc(3rem + 3vw);
    }

    &__text {
      margin: 1rem auto;
    }
  }
}

/* Hero ends */

/*  Services */
.services {
  background: $light-grayish-blue;
  display: flex;
  flex-direction: column;

  padding: 4rem 1rem 2rem;

  &__heading {
    margin: 3rem 2rem;
    text-align: center;
  }

  &__title {
    color: $dark-blue;
    font-weight: 400;
  }

  &__title-text {
    margin: 1.5rem auto;
    max-width: 500px;
    color: $grayish-blue;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  &__item {
    margin-bottom: 2rem;
  }

  &__icon {
    margin-top: 2.5rem;
  }

  &__subtitle {
    color: $dark-blue;
    font-weight: 400;
    margin: 1.5rem auto;
    max-width: 500px;
  }

  &__text {
    color: $grayish-blue;
    max-width: 270px;
    margin: 0 auto;
  }

  @media (min-width: 1140px) {
    &__heading {
      text-align: left;
      margin: auto 5rem;
    }

    &__title-text {
      margin: 1.5rem 0;
    }

    &__list {
      margin: 1rem 5rem;
      justify-content: space-between;
      text-align: left;
    }
  }
}

/* Services ends */

/* Articles */
.articles {
  background-color: $very-light-gray;
  padding: 3rem 2rem;

  &__title {
    text-align: center;
    color: $dark-blue;
    margin-bottom: 4rem;
    font-weight: 400;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 375px;
    margin-bottom: 2rem;
  }

  &__item-img {
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  &__item-content {
    color: $grayish-blue;
    background-color: $white;
    padding: 3rem;
  }

  &__item-author {
    margin: 2rem 0;
  }

  &__item-title {
    color: $dark-blue;
  }

  &__item-text {
    margin: 2rem 0;
  }

  @media (min-width: 1140px) {
    &__title {
      text-align: left;
      margin: 0 5rem 4rem;
    }

    &__list {
      justify-content: space-between;
      margin: 1rem 5rem;
    }
  }
}
/* Articles ends */

/* Footer */
.footer {
  background: $dark-blue;
  color: $white;
  border: none;
  display: grid;
  grid-template-areas:
    "contact"
    "nav-col1"
    "nav-col2"
    "copyrights";

  ul {
    list-style-type: none;
  }

  li {
    text-align: center;
  }

  a {
    color: $white;
  }

  &__col1 {
    grid-area: contact;
  }

  &__logo {
    text-align: center;
    color: #fff;
    padding: 2rem;
  }

  .social-media {
    display: flex;
    justify-content: center;

    li {
      margin-right: 1rem;
    }
    li:last-child {
      margin-right: 0;
    }
  }

  &__nav-col1 {
    grid-area: nav-col1;
    margin-top: 2rem;

    li {
      margin-bottom: 2.4rem;
    }
  }
  &__nav-col2 {
    grid-area: nav-col2;

    li {
      margin-bottom: 2.4rem;
    }
  }

  &__col4 {
    grid-area: copyrights;
    text-align: center;
    margin: 4rem auto;
  }

  &__cta {
    background: linear-gradient(90deg, $lime-green, $bright-cyan);
    color: $white;
    padding: 15px 35px;
    border-radius: 30px;
    margin: 4rem auto;
    text-align: center;
  }

  .copyrights {
    color: $grayish-blue;
    text-align: center;
    margin-top: 4rem;
  }

  @media (min-width: 500px) {
    & {
      grid-template-areas:
        "contact contact"
        "nav-col1 nav-col2"
        "copyrights copyrights";
    }

    &__nav-col1 {
    }
    &__nav-col2 {
      margin-bottom: 0;
      margin-top: 2rem;
    }
  }

  @media (min-width: 670px) {
    & {
      grid-template-areas:
        "contact nav-col1 nav-col2"
        "copyrights copyrights copyrights";
    }

    &__col1 {
      margin-top: 2rem;
    }
  }

  @media (min-width: 950px) {
    & {
      grid-template-areas: "contact nav-col1 nav-col2 copyrights";
    }
  }
}

/* Footer ends */

.attribution {
  font-size: 1rem;
  text-align: center;
  padding: 20px;
  color: $white;
  background: $dark-blue;
  border: none;

  a {
    color: $lime-green;
  }
}
